/* Jukola Live 2019 */

html, body {
    margin:0; padding:0;
}
* { box-sizing:border-box; }

body {
    font-family:'Lato', sans-serif; color:#005EA1; font-weight:400;
}

/* Dacast livestream player */

#myPlayer, #myPlayer .dacast-theo {
    width:100% !important; height:100% !important;
}

/* Youtube alternative embedded player */

#youtubePlayer, #youtubePlayer .dacast-theo {
    width:100% !important; height:100% !important;
}

/* HEADER */

#header {
    min-height:152px; background: #dbe3df url(../img/header.png) no-repeat center; background-size: cover;
}

/* MAIN */

#main {
    background:#fff; overflow:hidden;
}

#player-box {
    float:left; margin:0; width:64%; height:36vw;
}

#twitter-box {
    float:left; min-height:200px; margin:0; width:64%; margin-top: 5px;
}

#twitter-widget-1 {
    width: 100% !important;
}

#results-box {
    float:right; width:36%;
    background-image: url('../img/results-placeholder.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#results-content {
    height: 100vw;
}

#help-text {
    margin: 1vw 2vw;
    padding: 0 1vw 1vw;
    border: 1px solid;
    border-color: #005EA1;
    background-color: rgba(255,255,255,0.5);
}

#ig {
    background-color: #e23667;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
}

#fb {
    background-color: #3b5999;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
}

a.white {
    text-decoration: none; color: #fff;
}

/* FOOTER */

footer#footer {
    min-height:100px; background-color: #005EA1; color: white; text-align: center; padding-top: 40px;
}

/* Mobile viewport settings */

@media screen and (max-width:600px) {
    #header { min-height:60px;}
    #player-box { float:none; width:100vw; height:56.25vw; }
    #twitter-box { float:none; width:100%; }
    #twitter-widget-1 { width: 100vw !important; }
    #results-box { float:none; width:100%; padding-left:0; min-height: 110px; }
}

/* Extra large screens */

@media screen and (min-width: 1970px) {
    #header { min-height: 228px;}
}

@media screen and (min-width: 2990px) {
    #header { min-height: 372px;}
}
